<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/app.js"></script>
        <title>{{title}}</title>
    </head>
    <body>
        {{>header}}
        <p>This site was created by Bruno Lollato. It uses data from mapbox.com and darksky.net</p>
        <img src="/img/robot.png" alt="robot" class="portrait">
        {{>footer}}
    </body>
</html>